html,
body {
    min-height: 100%;
}

body {
    background: linear-gradient(135deg, var(--b1), var(--b2));
    padding: 1rem;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: var(--b2);
}

::-webkit-scrollbar-thumb {
    background-color: var(--i1);
    border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--i2);
}

#grid {
    margin: 3rem;

    display: grid;
    row-gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}

@media (max-width: 1500px) {
    .area {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #grid {
        margin: 0;
    }

    input#idElem {
        font-size: 1rem;
    }
}

header {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

h1 {
    font-size: 5rem;
    text-transform: uppercase;

    margin-bottom: 1rem;

    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

a {
    color: var(--i2);
}

/* Whole drop area */

.area {
    width: 90%;
    min-height: 8rem;
    padding: 1rem;

    border: 2px var(--i1) solid;
    border-radius: 20px;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#drop-area.highlight {
    background-color: white;
    border-color: var(--i1);
}

#drop-area,
#receive-area {
    display: flex;
    align-items: center;
    justify-content: center;
}


.button {
    padding: 0.5rem;

    cursor: pointer;
    color: white;
    background: var(--i1);
    border-radius: 0.25rem;
    font-weight: bold;
}

.button:hover {
    background: var(--i2);
}

#fileElem {
    display: none;
}

#idElem {
    flex: 1;
    margin-left: 1rem;
    padding: 0.6rem;

    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;

    color: var(--i1);
    background: none;
    border: 2px var(--i1) solid;
    border-radius: 0.5rem;
}

#idElem:focus {
    outline: none;
    background-color: white;
}

#file-area {
    color: white;

    padding: 1.5rem 1rem;
    margin: 4rem auto;
}

/* Singular files */

.file-container {
    display: flex;
    align-items: center;

    margin-top: 2rem;
    padding: 0.5rem;

    cursor: pointer;
    color: white;
    background-color: var(--i1);
    border-radius: 0.25rem;
}

.file-container.disabled {
    cursor: auto;
    color: var(--i2);
    background-color: rgba(255, 255, 255, 0.5);
}

.file-container.disabled:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.file-container:first-child {
    margin: 0;
}

.file-container:hover {
    background-color: var(--i2);
}

.file-icon {
    margin-right: 0.5rem;
}