<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>

    <link rel="stylesheet" href="css/index.css">

    <script src="js/index.js" defer></script>
    <script src="js/socket.js" defer></script>

    <title>Filefly</title>
</head>


<body>
    <div id="grid">


        <header>
            <h1 id="socket-id">XXXXXX</h1>

            <a href="." target="_blank" id="socket-link">_</a>
        </header>

        <div id="drop-area" class="area">
            <form>
                <input type="file" id="fileElem" multiple onchange="handleFiles(this.files)">
                <label class="button" for="fileElem">Select files</label>
            </form>
        </div>

        <div id="receive-area" class="area">
            <form>
                <label class="button" for="idElem" id="idElemBtn">Receive files</label>
                <input type="text" id="idElem">
            </form>
        </div>

    </div>

    <div id="file-area" class="area">
    </div>
</body>

</html>